<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    
    {% block style %}{% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'traitement_app/bootstrap-4.0.0-dist/css/bootstrap.min.css' %}">
    <script src="{% static 'traitement_app/jquery.min.js' %}"></script>
    <script src="{% static 'traitement_app/popper.min.js' %}"></script>
    <script src="{% static 'traitement_app/bootstrap-4.0.0-dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'traitement_app/moment.min.js' %}"></script>
    <script src="{% static 'traitement_app/sweetalert.min.js' %}"></script>

    <link rel="stylesheet" type="text/css"
        href="{% static 'traitement_app/DataTables/DataTables-1.10.20/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" type="text/css"
        href="{% static 'traitement_app/DataTables/Select-1.3.1/css/select.bootstrap4.min.css' %}">

    <script src="{% static 'traitement_app/DataTables/DataTables-1.10.20/js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'traitement_app/DataTables/DataTables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'traitement_app/DataTables/Select-1.3.1/js/dataTables.select.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'traitement_app/select2.min.css' %}">
    <script src="{% static 'traitement_app/select2.min.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'traitement_app/print.min.css' %}">
    <script src="{% static 'traitement_app/print.min.js' %}"></script>

    <script>
        function openAttachment() {
            document.getElementById('attachment').click();
        }
    
        function encodeImageFileAsURL(element) {
            var file = element.files[0];
            var reader = new FileReader();
            reader.onloadend = function() {
                $.ajax({
                type: 'POST',
                url: "{% url 'traitement_app:index'%}",
                data: {
                    csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                    img_data: reader.result.split(',')[1],
                },
                success: function (response) {
                    location.replace("/image");
                },
                error: function (response) {
                    swal("Erreur!", "Une erreur s'est produite.", "error");
                }
            });
            }
            reader.readAsDataURL(file);
        }
    </script>

    {% block script %}{% endblock %}
</head>

<body>
    {% csrf_token %}

    {% block navbar %}
    <nav class="navbar navbar-expand-sm bg-light navbar-dar">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" onclick="openAttachment()" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Charger une image
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Détection d'objets
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <a class="dropdown-item" href="{% url 'traitement_app:MobileNet' %}">MobileNet</a>
                      <a class="dropdown-item" href="{% url 'traitement_app:ResNet101' %}">ResNet101</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <input type="file" class="file" id="attachment" style="display: none;" onchange="encodeImageFileAsURL(this)" accept=".jpg, .jpeg, .png"/>
    {% endblock %}
 
    {% block main %}
    {% endblock %}


</body>

</html>
